<footer id="footer">
    <div class="footer-content" style="margin-top: 23px; margin-left: 15px;">
        <div class="footer-left">
            <h4>List Barang:</h4>
            <div style="display: flex; gap: 20px;">
                <div>
                    <ul>
                        <li><a href="#" class="gear-list1">Hammock</a></li>
                        <li><a href="#" class="gear-list1">Raincoat</a></li> 
                        <li><a href="#" class="gear-list1">Fly Sheet</a></li>
                        <li><a href="#" class="gear-list1">Cooking Set</a></li>
                        <li><a href="#" class="gear-list1">Meja Lipat</a></li>
                        <li><a href="#" class="gear-list1">Bantal Tiup</a></li>
                        <li><a href="#" class="gear-list1">Carrier 50 L</a></li>
                        <li><a href="#" class="gear-list1">Carrier 60 L</a></li>
                        <li><a href="#" class="gear-list1">Carrier 80 L</a></li>
                        <li><a href="#" class="gear-list1">Terpal 2 x 3</a></li>
                        <li><a href="#" class="gear-list1">Terpal 3 x 4</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#" class="gear-list1">Matras</a></li>
                        <li><a href="#" class="gear-list1">Foot Print</a></li>
                        <li><a href="#" class="gear-list1">Tracking Pole</a></li>
                        <li><a href="#" class="gear-list1">Gas Portable</a></li>
                        <li><a href="#" class="gear-list1">Tiang Fly Sheet</a></li>
                        <li><a href="#" class="gear-list1">Headlamp Charge</a></li>
                        <li><a href="#" class="gear-list1">Kursi Lipat XXL</a></li>
                        <li><a href="#" class="gear-list1">Lampu Emergency</a></li>
                        <li><a href="#" class="gear-list1">Slepping Bag Tebal</a></li>
                        <li><a href="#" class="gear-list1">Kompor Kovar Kotak</a></li>
                        <li><a href="#" class="gear-list1">Senter Mini Charge</a></li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li><a href="#" class="gear-list1">Tenda Cap 2 Single Layer</a></li>
                        <li><a href="#" class="gear-list1">Tenda Cap 2 Double Layer</a></li>
                        <li><a href="#" class="gear-list1">Tenda Cap 4 Single Layer</a></li>
                        <li><a href="#" class="gear-list1">Tenda Cap 4 Double Layer</a></li>
                        <li><a href="#" class="gear-list1">Tenda Cap 5 Double Layer</a></li>
                        <li><a href="#" class="gear-list1">Tenda Instan Tocubic Cap 2-3</a></li>
                        <li><a href="#" class="gear-list1">Lampu Tenda (belum sama baterai)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <a href="https://www.instagram.com/rentalcamping.aya?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/081320728886" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.google.com/maps/search/?api=1&query=Komplek+Permai+Nusa+Hijau+Blok+R2G+Cimahi,+Cimahi+40512" target="_blank"><i class="fas fa-map-marker-alt"></i></a>
        </div>
    </div>
    <center>
        <p class="footerT">&copy; 2024 Aya Camp Rent Collections.</p>
    </center>
</footer>
<a href="#" class="scroll-to-top"><i class="fas fa-arrow-up"></i></a>